body{
font-family:Arial,sans-serif;
margin:0;
min-height:100vh;
background:#f5f5f5;
color:#222;
}

.app{
max-width:700px;
margin:auto;
padding:20px;
text-align:center;
}

button{
padding:12px 18px;
border-radius:10px;
border:0;
margin:5px;
cursor:pointer;
}

#btnInstalar{
background:#111;
color:white;
font-size:16px;
}

.neon{
background:#050505;
color:#00ffff;
}

.noite{
background:#111;
color:#eee;
}

.chuva-coracoes span{
position:fixed;
top:-50px;
font-size:30px;
animation:cair 3s linear;
}

@keyframes cair{
to{
transform:translateY(110vh);
opacity:0;
}
}

@media(max-width:600px){
button{
width:90%;
}
}
